section {
  transition: opacity 1s, transform 1s;

  @include responsive(xl) {
    padding-left: $xl-header-width;
  }

  @include responsive(xxl) {
    padding-left: $xxl-header-width;
  }
}

.section-container {
  @include column-flex;
  padding: 80px 15px;

  .section-title {
    align-self: flex-start;

    h2 {
      display: inline-block;
      margin-bottom: 5px;
      font-size: 1rem;
      font-weight: 400;
      color: $primary;
      letter-spacing: 0.05em;
    }

    &__sub {
      display: block;
      font-family: $font-montserrat;
      font-size: 1.5rem;
      font-weight: 900;
      letter-spacing: 0.05em;
    }
  }

  @include responsive(sm) {
    padding: 80px 60px;

    .section-title {
      h2 {
        font-size: 1.1rem;
      }

      &__sub {
        font-size: 1.7rem;
      }
    }
  }

  @include responsive(md) {
    padding: 100px 60px;

    .section-title {
      h2 {
        font-size: 1.3rem;
      }

      &__sub {
        font-size: 1.9rem;
      }
    }
  }

  @include responsive(lg) {
    padding: 100px;

    .section-title {
      h2 {
        font-size: 1.5rem;
      }

      &__sub {
        font-size: 2.2rem;
      }
    }
  }

  @include responsive(xxl) {
    padding: 150px 100px;

    .section-title {
      h2 {
        font-size: 1.6rem;
      }

      &__sub {
        font-size: 2.4rem;
      }
    }
  }

  @media screen and (min-width: 1700px) {
    padding: 150px;
  }
}
